.checkout-container{
    max-width: 400px;
    width: 100%;
    margin: auto;
    >form {
        @include flex(column , flex-start , stretch ,2rem);

        > button{
            @include btnStyle(1rem , $color3 , $color1);
            width: 100%;
            font-size: 1.1rem;
        }
    }
}